<?php

/**
 * Default twig options
 */

return [
    'twig.options' => [
        'debug' => true,
        'cache' => false,
    ],
    'translator.messages' => [],
    'twig.dirs' => [
        'root' => root('resources/templates'),
        'user' => root('src/User/Templates'),
    ],
];